<!DOCTYPE html>
<html lang="en" ng-app="simon">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script src="./angular.js"></script>
	<script src="./app.js"></script>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<article id="game-area" ng-controller="gameCtrl as g">
		<h1 ng-bind="g.title"></h1>

		
		<h2 ng-show="g.isGameStarted">Turn {{ g.turnNumber }}</h2>

		<!-- TODO: do some magic to make the colours the right colours -->
		<!-- TODO: maybe make it a grid so it's easier to compare -->
		<section id="instructions">
			<p>Instructions: {{ g.computerInstructions }}</p>
		</section>

		<section id="players-choices">
			<p>Player's choices: {{ g.playerSequence }}</p>
		</section>

		<div class="board">

			<div class="cell top left red" ng-click="g.pickColour('red')"></div>
			<div class="cell top right blue" ng-click="g.pickColour('blue')"></div>
			<div class="cell bottom left green" ng-click="g.pickColour('green')"></div>
			<div class="cell bottom right yellow" ng-click="g.pickColour('yellow')"></div>
		</div>
		

	</article>
</body>
</html>